img.img-animation:hover {
  animation: jello-horizontal .9s linear both;
  /* animation: shake-vertical 0.8s linear both; */
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}

@keyframes shake-vertical {

  0%,
  100% {
    transform: translateY(0)
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px)
  }

  20%,
  40%,
  60% {
    transform: translateY(8px)
  }

  80% {
    transform: translateY(6.4px)
  }

  90% {
    transform: translateY(-6.4px)
  }
}