<section>

  <article *ngIf="character">
    <div class="card-list">
      <div class="card">
        <img loading="lazy" class="img rotate-scale-up" [ngClass]="{'rotate-scale-up': isAnimation}"
          [src]="character.image" [alt]="character.name" height="300px" width="300px" (click)="playAnimation()">
        <h2>{{character.name}}</h2>
        <div class="card-info">
          <div class="section">
            <span class="status">
              <span [ngClass]="{'dead':character.status=='Dead','alive':character.status=='Alive'}"
                class="status_icon"></span> {{character.status}} - {{character.species}}
            </span>
          </div>
          <div class="section">
            <span class="text-gray">Visto por primera vez en:</span>
            <span>{{character.origin.name}}</span>
          </div>
          <div class="section">
            <span class="text-gray">Última ubicación conocida:</span>
            <span>{{character.location.name}}</span>
          </div>
          <div class="section">
            <span class="text-gray">Episodios donde aparece:</span>
            <span>{{episodes.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="card-list" *ngIf="episodes.length">
      <div class="card episode" *ngFor="let episod of episodes; let i=index">
        <small><strong>{{episod.name|uppercase}}</strong></small>
        <samp>{{episod.episode}}</samp>
        <small>Fecha de emisión: {{episod.air_date | date}}</small>
      </div>
    </div>
  </article>

  <article>
    <div class="buttons">
      <button type="button" class="btn-left" (click)="scroll()">Subir</button>
      <button type="button" class="btn-right" (click)="toNavigate()">Regresar</button>
    </div>
  </article>

</section>